{% extends "base.html" %}


{% block title %}
    {% trans "Account Activation" %}
{% endblock %}


{% block content %}
    {% if account %}
        {% trans "Welcome" %} {{ account.username }}. {% trans "Your account is now active. You have been logged in and can start using the site now" %}  <a href="/">{% trans "Home Page" %}</a>
        
    {% else %}
        {% trans "The activation link is invalid or your account is already active.  Login on the" %} <a href="/">{% trans "Home Page" %}</a>
        
        
    {% endif %}
    
{% endblock %}