{% extends 'base.html' %}



{% block main %}
    <h3>{{ question.label }}</h3>
    <p>{{ question.help_text }}</p>
    <p>Answering as: {{ user.email }} &nbsp;<a href="/logout" class="btn btn-warning ">Logout</a></p>
    <a href="{% url "save-answers" question.id %}" class="btn btn-success btn-lg">Save my Answers</a>




    <!-- List with handle -->
    <div id="answers" class="list-group well">




        {% for item in answers %}
            <div class="list-group-item" id="answer_{{ item.id }}" data-id="{{ item.id }}">
                <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                {{ item.title}}
            </div>


        {% endfor %}
    </div>
{% endblock %}

{% block bootstrap3_extra_script %}
    <script>
        var el = document.getElementById('answers');
        var sortable = new Sortable(el, {
            {#            group: "name",  // or { name: "...", pull: [true, false, clone], put: [true, false, array] }#}
            {#            sort: true,  // sorting inside list#}
            {#            disabled: false, // Disables the sortable if set to true.#}
            {#            store: null,  // @see Store#}
            {#            animation: 150,  // ms, animation speed moving items when sorting, `0` — without animation#}
            {#            handle: ".my-handle",  // Drag handle selector within list items#}
            {#            filter: ".ignore-elements",  // Selectors that do not lead to dragging (String or Function)#}
            {#            draggable: ".item",  // Specifies which items inside the element should be sortable#}
            {#            ghostClass: "sortable-ghost",  // Class name for the drop placeholder#}
            {##}
            {#            scroll: true, // or HTMLElement#}
            {#            scrollSensitivity: 30, // px, how near the mouse must be to an edge to start scrolling.#}
            {#            scrollSpeed: 10, // px#}


            store: {
                // Sorting acquisition (called during initialization)
                get: function (sortable) {
                    var order = localStorage.getItem(sortable.options.group);
                    return order ? order.split('|') : [];
                },

                // Saving the acquired sorting (called each time upon sorting modification)
                set: function (sortable) {
                    var order = sortable.toArray();

                    localStorage.setItem(sortable.options.group, order.join('|'));

                    $.ajax({
                        url:"{% url "update_order" question.id %}",
                        data: {answers:order.join('|'),
                            csrfmiddlewaretoken:'{{ csrf_token }}'},
                        dataType: "json",
                        type: "POST"});


                }
            },
            setData: function (dataTransfer, dragEl) {
                dataTransfer.setData('Text', dragEl.textContent);
            },

            // dragging started
            onStart: function (/**Event*/evt) {
                evt.oldIndex;  // element index within parent
            },

            // dragging ended
            onEnd: function (/**Event*/evt) {
                evt.oldIndex;  // element's old index within parent
                evt.newIndex;  // element's new index within parent
            },

            // Element is dropped into the list from another list
            onAdd: function (/**Event*/evt) {
                var itemEl = evt.item;  // dragged HTMLElement
                evt.from;  // previous list
                // + indexes from onEnd
            },

            // Changed sorting within list
            onUpdate: function (/**Event*/evt) {
                var itemEl = evt.item;  // dragged HTMLElement
                // + indexes from onEnd
            },

            // Called by any change to the list (add / update / remove)
            onSort: function (/**Event*/evt) {
                // same properties as onUpdate
            },

            // Element is removed from the list into another list
            onRemove: function (/**Event*/evt) {
                // same properties as onUpdate
            },

            // Attempt to drag a filtered element
            onFilter: function (/**Event*/evt) {
                var itemEl = evt.item;  // HTMLElement receiving the `mousedown|tapstart` event.
            }
        });

    </script>
{% endblock %}