{% extends 'bootstrap3/bootstrap3.html' %}

{% load url from future %}
{% load i18n lazysignup_tags %}
{% load bootstrap3 %}

{% block bootstrap3_title %}The Perfect Committee{% endblock bootstrap3_title %}

{% block bootstrap3_extra_head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/Sortable.min.js"></script>
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block bootstrap3_content %}
    <div class="container">

        {% bootstrap_messages %}

        {% block content %}
            {%  block main %}

                {% endblock main %}
        {% endblock %}
    </div>

{% endblock %}
